allow fingerprintd firmware_file:file { read getattr open };
allow fingerprintd sysfs:file write;
allow fingerprintd system_data_file:dir { write remove_name add_name };
allow fingerprintd system_data_file:sock_file { create unlink };
allow fingerprintd tee_device:chr_file { read write ioctl open };
allow fingerprintd firmware_file:dir search;
allow fingerprintd fpc_data_file:file { create unlink open append setattr };
allow fingerprintd fps_data_file:file { create unlink open append setattr };
allow fingerprintd fpc_data_file:dir { write add_name };
allow fingerprintd fpc_data_file:sock_file create;
allow fingerprintd fps_data_file:dir { write getattr add_name };
allow fingerprintd fps_data_file:file { read getattr };
allow fingerprintd sysfs_fpc:dir { read search open };
allow fingerprintd sysfs_fpc:file { read write open };
allow fingerprintd fpc_data_file:dir remove_name;
allow fingerprintd fpc_socket:sock_file unlink;
allow fingerprintd fps_data_file:dir remove_name;
allow fingerprintd fpc_data_file:dir search;
allow fingerprintd fps_data_file:dir search;
