allow fingerprintd firmware_file:file { read getattr open };
allow fingerprintd firmware_file:dir search;
allow fingerprintd fpc_data_file:file { create unlink open append setattr getattr };
allow fingerprintd fpc_data_file:dir { add_name remove_name write getattr search };
allow fingerprintd fpc_data_file:sock_file { create unlink };
allow fingerprintd fpc_socket:sock_file unlink;
allow fingerprintd fps_data_file:dir { getattr search read write create add_name remove_name };
allow fingerprintd fps_data_file:file { getattr read write create append open setattr unlink };
allow fingerprintd sysfs_fpc:dir { open read search };
allow fingerprintd sysfs_fpc:file { open read write };
allow fingerprintd sysfs:file write;
allow fingerprintd system_data_file:dir { write remove_name add_name };
allow fingerprintd system_data_file:sock_file { create unlink };
allow fingerprintd tee_device:chr_file { read write ioctl open };
allow fingerprintd unlabeled:file { getattr open read };
