# Unsure what init is doing here
allow init app_data_file:dir setattr;
allow init cid_block_device:blk_file setattr;
allow init clogo_block_device:blk_file setattr;
allow init hob_block_device:blk_file setattr;
allow init logs_block_device:blk_file setattr;
allow init utags_block_device:blk_file setattr;

allow init firmware_file:dir mounton;
allow init fsg_file:dir mounton;
allow init pstorefs:dir mounton;

allow init socket_device:sock_file { create setattr };
allow init thermal_device:chr_file ioctl;

allow init property_socket:sock_file write;
allow init sensors_device:chr_file { write ioctl };

allow init rootfs:file execute_no_trans;
allow init self:netlink_route_socket create;
allow init self:tcp_socket create;