type mmi-laser-sh, domain;
type mmi-laser-sh_exec, exec_type, file_type;
init_daemon_domain(mmi-laser-sh)

allow mmi-laser-sh kmsg_device:chr_file { write open };
allow mmi-laser-sh persist_file:dir { search open read getattr };
allow mmi-laser-sh persist_file:file { open read getattr };
allow mmi-laser-sh rootfs:file { open read entrypoint };
allow mmi-laser-sh self:capability { dac_read_search dac_override };
allow mmi-laser-sh shell_exec:file { read getattr };
allow mmi-laser-sh sysfs:file { write getattr open };
allow mmi-laser-sh toolbox_exec:file { execute execute_no_trans getattr open read };
