allow platform_app exfat:dir rw_dir_perms;
allow platform_app persist_file:dir search;
allow platform_app sensors_device:chr_file { open read write };
allow platform_app battery_service:service_manager find;
allow platform_app batteryproperties_service:service_manager find;
allow platform_app exfat:file rw_file_perms;
