qmux_socket(radio)

allow radio system_app_data_file:dir getattr;
allow radio persist_file:dir rw_dir_perms;
allow radio persist_file:file { getattr open };
