allow rild cutback_data_file:dir rw_dir_perms;
allow rild cutback_data_file:sock_file create_file_perms;
allow rild fsg_file:dir search;
allow rild fsg_file:file r_file_perms;
allow rild system_data_file:sock_file { create unlink setattr };
allow rild fsg_file:dir { read open };
allow rild system_server:unix_stream_socket { read write };
allow rild sensorservice_service:service_manager find;
allow rild unlabeled:dir { getattr open read };
allow rild persist_file:dir search;
