allow untrusted_app firmware_file:dir { read search open };
allow untrusted_app firmware_file:file getattr;
allow untrusted_app persist_file:dir search;
allow untrusted_app rfs_system_file:dir { read getattr open };
allow untrusted_app rfs_system_file:lnk_file read;
allow untrusted_app tombstone_data_file:dir { search getattr };
allow untrusted_app device:dir read;
allow untrusted_app persist_file:file getattr;
allow untrusted_app rfs_system_file:dir search;
allow untrusted_app mpctl_socket:sock_file getattr;
allow untrusted_app radio_data_file:dir getattr;
allow untrusted_app rootfs:dir read;
allow untrusted_app block_device:dir { open read };
allow untrusted_app device:dir open;
allow untrusted_app rootfs:dir open;
allow untrusted_app sysfs:file { read open getattr };
