allow untrusted_app firmware_file:dir { read search open };
allow untrusted_app firmware_file:file getattr;
allow untrusted_app persist_file:dir search;
allow untrusted_app rfs_system_file:dir { read getattr open };
allow untrusted_app rfs_system_file:lnk_file read;
allow untrusted_app tombstone_data_file:dir { search getattr };